<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <!--<identity impersonate="true" userName="Mert Çakır" password="204330"/>-->

<appSettings>
  <add key="logoFirm" value="019"/>
  <add key="logoDonem" value="01"/>
  <add key="logoUsr" value="LOGO"/>
  <add key="logoPw" value="LOGO"/>
</appSettings>

  <connectionStrings>
    <add name="conn" connectionString="Server=192.168.1.252;Database=tigerdb;Uid=sa;Password=136213ata!!;MultipleActiveResultSets=True"/>
  </connectionStrings>


</configuration>
