<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="logoFirm" value="019" />
    <add key="logoDonem" value="01" />
    <add key="logoUsr" value="uretim" />
    <add key="logoPw" value="0000" />
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Server=10.0.0.250;Database=tigerdb;Uid=sa;Password=Onur123!;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: 52B244AF-10B0-445F-AD63-0C483D8376DC-->